<div ng-controller="EditController">
  <super-navbar>
    
    <super-navbar-button class="navbar-back" ng-click="cancel()">
      Cancel
    </super-navbar-button>

    <super-navbar-title class="navbar-title">
      EDIT CARD
    </super-navbar-title>

    <!-- <super-navbar-button side="right" ng-click="save()")>
      Save
    </super-navbar-title> -->

  </super-navbar>

  <div class="list list-inset">
    
    <label class="item item-input" id="nameLabel">
      <span class="input-label">Name</span>
      <input type="text" value={{card.get('name')}} placeholder="name or nickname" id="editName">
    </label>
    
    <label class="item item-input" id="phoneLabel">
      <span class="input-label">Phone</span>
      <input type="tel" value={{card.get('phone')}} placeholder="(123) 456-7890" id="editPhone">
    </label>
    
    <label class="item item-input" id="emailLabel">
      <span class="input-label">Email</span>
      <input type="email" value={{card.get('email')}} placeholder="example@something.com" id="editEmail">
    </label>
  
    <label class="item item-input" id="intervalLabel">
      <span class="input-label">Contact Interval</span>
      <input type="email" value={{card.get('intervalDays')}} placeholder="in days" id="editIntervalDays">
    </label>

    <label class="item item-input item-select" id="typeLabel">
      <span class="input-label">Contact Type</span>
      <select id="editType">
        <option>- SELECT TYPE -</option>
        <option>Friend</option>
        <option>Coworker</option>
        <option>Family</option>
      </select>
    </label>

    <button class="button button-block button-positive" ng-click="save()">Save</button>

  </div>
</div>
