<div ng-controller="IndexController">
	<super-navbar>
		<super-navbar-button side="right" onclick="var view = new supersonic.ui.View('card#add'); supersonic.ui.layers.push(view);">
			Add
		</super-navbar-button>
		<super-navbar-title>
			KetchUp
		</super-navbar-title>
	</super-navbar>

	<div class="tableHeader">
		<table>
			<tr>
				<td id="nameCol">Name</td>
				<td id="callCol">Call In</td>
			</tr>
		</table>
	</div>
	<ul class="list" id="list">
		<!-- Filled out by JavaScript in FamilyController.js -->
	</ul>
</div>

