<div ng-controller="IndexController">
	<super-navbar>
		<super-navbar-button side="right" onclick="supersonic.ui.modal.show(new supersonic.ui.View('card#add'), { animate: true });">
			Add
		</super-navbar-button>
		<super-navbar-title>
			KetchUp
		</super-navbar-title>
	</super-navbar>

	<style type="text/css">
		table {
			width: 100%;
		}
		.tableHeader {
		  background-color: #c4d1d0;
		  color: white;
		  font-weight: bold;
		}

		#nameCol {
			padding-left: 4%;
			padding-right: 30px;
			width: 70%;
		}
		#callCol {
			width: 30%;
		}
	</style>

	<div class="tableHeader">
		<table>
			<tr>
				<td id="nameCol">Name</td>
				<td id="callCol">Call In</td>
			</tr>
		</table>
	</div>
	<ul class="list" id="list">
		<!-- Filled out by JavaScript in FamilyController.js -->
	</ul>
</div>

