<div ng-controller="IndexController">
	<super-navbar>
		<super-navbar-button side="right" onclick="supersonic.ui.modal.show(new supersonic.ui.View('card#add'), { animate: true });">
			Add
		</super-navbar-button>
		<super-navbar-title>
			KetchUp
		</super-navbar-title>
	</super-navbar>

	<ul class="list" id="list">
		<div>
		 	<div class="item item-icon-right">
		 		<p ng-click="ExpandMenu(4)">Test Name</p>
		 		<span class="badge badge-assertive" style="margin-right:20px">N</span>
		 		<i class="icon super-ios-telephone-outline"></i>
		 	</div>
		 	<div class="item" id="slide" style="display:none; border-top:none; padding:0">
		 		<div class="button-bar">
		 			<a class="button button-light" style="border-bottom:0" ng-click=Postpone(ID)>Postpone</a>
		 			<a class="button button-light" style="border-bottom:0" ng-click=Reset(ID)>Reset Counter</a>
		 			<a class="button button-light" style="border-bottom:0" ng-click=Edit(ID)>Edit Contact</a>
		 		</div>
		 	</div>
		</div>
		<!-- Filled out by JavaScript in FamilyController.js -->
	</ul>

</div>
