<div ng-controller="RegisterController">

	<div class="list list-inset">
		<label class="item item-input">
			<input type="tel" id="phoneNumber" placeholder="Phone Number">
		</label>
		<label class="item item-input">
			<input type="password" id="password" placeholder="Password">
		</label>
		<label class="item item-input">
			<input type="password" id="verifyPassword" placeholder="Verify Password">
		</label>
	</div>

	<div class="padding">
		<button class="button button-block button-positive" ng-click="CreateAndLogin()">
			Create and Login
		</button>
	</div>
</div>