<div ng-controller="ViewController">
  <super-navbar>
    <super-navbar-title class="navbar-title">
      <ng-bind="card.get('name')">
    </super-navbar-title>

    <super-navbar-button ng-click="OpenEdit(card.id)" side="right">
    Edit
    </super-navbar-button>

  </super-navbar>

  <div class="padding">
    <h2 ng-bind="card.get('name')" id="TEST"></h2>
    <p>Phone: <span ng-bind="card.get('phone')"></span></p>
    <p>Email: <span ng-bind="card.get('email')"></span></p>
    <p>Last Contact: <span ng-bind="card.get('lastCall')"></span></p>
    <p>Contact Interval: <span ng-bind="card.get('intervalDays') + ' days'"></span></p>

    <button ng-click="remove(card.id)" class="button button-block button-assertive">
      Remove
    </button>
  </div>

</div>
