.navbar-title {
  font-family: 'Dosis';
  font-weight: 600;
}

.navbar-back {
  font-family: 'Dosis';
}

.button {
  font-family: 'Dosis';
  font-weight: 600;
}

.item {
  font-family: 'Roboto';
  font-weight: 500;
  color: black;
}

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

#new-card button {
  width: 80%;
  margin: 15px 10%;
  border-radius: 10px;
  moz-border-radius: 10px;
  webkit-border-radius: 10px;
}

#my-cards {
  background-color: #9FC5E7;
  color: white;
  font-size: x-large;
  margin: 0;
  padding: 15px;
}

.item h2 {
	margin: 5px 0;
  font-family: 'Dosis';
  font-weight: 600;
}

#searchBox {
  margin: 0;
}

#submitButton {
  width: 80%;
  margin: 15px 10%;
}

#badgesList {
  color: #C0C0C0;
}

.padding {
  font-family: 'Roboto';
}

.padding h2 {
  font-family: 'Dosis';
  font-weight: 600;
}

#new-card .button {
  color: #2B74B6;
}

tab-bar-item#family {
  background-image: url(icons/family.png);
}

tab-bar-item#friend {
  background-image: url(icons/friends.png);
}

tab-bar-item#coworker {
  background-image: url(icons/coworkers.png);
}

.interval, .unit {
  padding: 0;
  margin: 0;
}

.unit, #unit, #editUnit {
  max-width: 100%;
  text-indent: 0;
  right: 0;
}

.contact-interval {
  padding: 0;
  margin: 0;
}

.interval-label {
  border-right: transparent;
}

.unit-label {
  border-left: transparent;
  padding-left: 0;
}

table {
  width: 100%;
}

.tableHeader {
  background-color: #c4d1d0;
  color: white;
  font-family: "Dosis";
  font-weight: 600;
  font-size: 1.2em;
  text-transform: capitalize;
}

#nameCol {
  padding: 0.4em 1.2em;
  width: 70%;
}

#callCol {
  width: 30%;
  padding: 0.4em 0.6em;
}
